<div class="top">
  <div class="top_img">
    <h2 class="top_title">いのちはぐくむ農業を豊かに創る</h2>
  </div>
  <div class="top_contents">
    <div class="top_contents_box">
      <div class="img_box">
        <%= image_tag 'main_office.png', class: "office_img"%>
      </div>
      <div class="top_text_box">
        <%= @comments.find_by(order: 1).comment.html_safe %>
      </div>
    </div>
    <div class="top_contents_box">
      <div class="top_text_box">
        <%= @comments.find_by(order: 2).comment.html_safe %>
      </div>
      <div class="img_box">
        <%= image_tag 'sub_office.png', class: "sub_office_img"%>
      </div>
    </div>
    <div class="top_img_area">
      <%= image_tag 'office_and_dog.JPG', class: "top_under_img"%>
      <%= image_tag 'tomato.png', class: "top_under_img"%>
    </div>
  </div>
</div>

