<div class="society">
	<div>
		<h2>社会貢献活動</h2>
		<p class="society_sub_title">SOCIETY</p>
		<hr class="title_hr">
    <div class="society_description">
      社会や地域の発展・活性化を願い、奉仕活動やスポーツなど幅広く社会貢献活動を行なっております。
    </div>
    <p class="img_title">消防活動</p>
    <hr class="img_hr">
		<%= image_tag 'shobo.JPG', class: "shobo_img"%>
		<%= image_tag 'shobo2.JPG', class: "shobo_img"%>

    <p class="img_title">お祭り</p>
    <hr class="img_hr">
		<%= image_tag 'irumi.JPG', class: "festival_img"%>

    <p class="img_title">駅伝大会</p>
    <hr class="img_hr">
		<%= image_tag 'todofuken_ekiden.JPG', class: "ekiden_img"%>
		<%= image_tag 'fukushima_ekiden.jpeg', class: "ekiden_img"%>
		<%= image_tag 'new_year_ekiden.JPG', class: "ekiden_img"%>
		<%= image_tag 'hakone_ekiden.JPG', class: "ekiden_img"%>
	</div>
</div>