<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'tops/header' %>
    <div class="main">
      <%= yield %>
    </div>
    <%= render partial: 'tops/footer' %>
  </body>
</html>

<script>
  var openbtn5 = document.getElementById('openbtn5');
  openbtn5.addEventListener('click', function() {
    this.classList.toggle('active');
    document.getElementById('menu_list').classList.toggle('menu_list_open');
    document.getElementById('menu_list').classList.toggle('close_menu');
  });
</script>