<!DOCTYPE html>
<html>
  <head>
    <title>株式会社 安西商会</title>
    <meta name=”description” content=”株式会社安西商会は、福島県会津若松市に本社を置き農業資材全般を主体に取り扱っています。” />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="株式会社 安西商会" />
    <meta property="og:site_name" content="株式会社 安西商会" />
    <meta property="og:description" content="株式会社安西商会は、福島県会津若松市に本社を置き農業資材全般を主体に取り扱っています" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('icon.png') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'tops/header' %>
    <div class="main">
      <%= yield %>
    </div>
    <%= render partial: 'tops/footer' %>
  </body>
</html>

<script>
  var openbtn5 = document.getElementById('openbtn5');
  openbtn5.addEventListener('click', function() {
    this.classList.toggle('active');
    document.getElementById('menu_list').classList.toggle('menu_list_open');
    document.getElementById('menu_list').classList.toggle('close_menu');
  });
</script>